body {
    display: flex;
    margin: 0;
}

.panel {
    padding: 2rem;
    flex: 1;
    border: 1px solid black;
    height: 100vh;
}

#chat-log {
    border: 1px solid #000;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    height: 500px;
    overflow-y: scroll;

    /* display:flex;
    flex-direction: column;
    justify-content: flex-end; */
}

.message {
    border: 1px solid #26313127;
    padding: 5px 10px;
    margin-block: 5px;
    max-width: 45ch;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.sender {
    margin-left: auto;
    width: fit-content;
    border-radius: 10px 10px 0px 10px ;
}

.receiver{
    margin-right: auto;
    width: fit-content;
    border-radius: 0px 10px 10px 10px ;
}

@media (max-width: 1080px) {
    .message {
        max-width: 20ch;
    }
}